.link{
    text-decoration: none;
    color: inherit;
}

.ModalIsLogOut {
    gap: 10px;
    flex-direction: column;
    width: 25vw;
    height: 30vh;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(163, 202, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalIsLogOut .label-desc {
    font-size: 22px;
}

.ModalIsLogOut .btn-confirm {
    margin-top: 12px;
    transition: all 200ms linear;
    background-color: rgb(117, 137, 248);
    width: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 22px;
    border-radius: 15px;
}

.ModalIsLogOut .btn-confirm:hover {
    background-color: rgb(79, 103, 241);
    color: whitesmoke;
    font-size: 25px;
}

.ModalIsLogOut::backdrop{
    z-index: 20;
    backdrop-filter: blur(2px);
}